# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output and compiled addons
build/Release/

# Dependency directories
node_modules/
jspm_packages/
build/

# Environment variables
.env

# TypeScript declaration files
typings/

# Development files
!build/**/swagger.json
build/**/*.ts

# Sensitive files (Firebase credentials)
# Make sure to exclude any sensitive files containing keys or private data
src/auth/share-responsibly-firebase-adminsdk-zk5sf-f3fd70318f.json 

# Editor and build files
.source
lib/


